/* Class để style các nút */
.btn{
    width: 254px;
    height: 68px;
    background-color: var(--orange-color);
    display: flex;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.btn__link{
    color: var(--white-color);
    font-size: 1.5rem;
    line-height: 68px;
    display: flex;
    margin: auto;
    width: 300px;
    justify-content: center;
}

.btn:hover {
    border: 1px solid var(--orange-color);
    cursor: pointer;
    background-color: var(--white-color);
}

.btn__link:hover{
    
    color: var(--orange-color);
}