/* vùng chân trang */
.footer{
    padding-top: 100px;
}

.footer__list--01{
    font-size: 1.4rem;
    font-weight: 600;
    padding-bottom: 8px;
}

.footer__list--02{
    padding-bottom: 8px;
    font-size: 1.2rem;
}

.footer__contact{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.footer__list--03{
    padding: 8px 0;
}

.footer__contact--01{
    font-size:1.1rem;
    margin: 40px 0;
}